<div *ngIf="currentItem && !newItem && !editedItem">
  <p>Name: <strong>{{ currentItem?.name }}</strong></p>
  <p>Sex: <strong>{{ currentItem?.sex }}</strong></p>
  <p>Birthday: <strong>{{ currentItem?.birthday | date }}</strong></p>
</div>
<form (submit)="saveItem(newItem)" *ngIf="newItem">
  <p class="form-label">Name:</p>
  <input type="text" name="name" class="form-input" [(ngModel)]="newItem.name" required>
  <p class="form-label">Sex:</p>
  <select [(ngModel)]="newItem.sex" name="sex" class="form-input">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <p class="form-label">Birthday:</p>
  <input type="date" name="birthday" class="form-input" [(ngModel)]="newItem.birthday" required>
  <div class="form-submit-block">
    <button type="submit" class="form-btn">Save</button>
    <button type="button" class="form-btn" (click)="cancelEdit()">Cancel</button>
  </div>
</form>
<form (submit)="saveEditItem(editedItem)" *ngIf="editedItem">
  <p class="form-label">Name:</p>
  <input type="text" name="name" class="form-input" [(ngModel)]="editedItem.name" required>
  <p class="form-label">Sex:</p>
  <select [(ngModel)]="editedItem.sex" name="sex" class="form-input">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <p class="form-label">Birthday:</p>
  <input type="date" name="birthday" class="form-input" [(ngModel)]="editedItem.birthday" required>
  <div class="form-submit-block">
    <button type="submit" class="form-btn">Save</button>
    <button type="button" class="form-btn" (click)="cancelEdit()">Cancel</button>
  </div>
</form>
